/Assignment 12/circuitpiper_v.20/CircuitPiper/build/
/Assignment 12/circuitpiper_v.20/CircuitPiper/dist/
/Assignment 12/circuitpiper_v.20/CircuitPiper/nbproject/private/
/Assignment 14/circuitpiper_v.21/CircuitPiper/build/
/Assignment 14/circuitpiper_v.21/CircuitPiper/dist/
/Assignment 14/circuitpiper_v.21/CircuitPiper/nbproject/private/
